extends layout

block content
  h2 #{title}
  h3 #{message}
  br
  p
  | Challenge Accepted is a workshop designed for non computer science students to learn how to program through visual coding.
  br
  br
  | The workshop uses the MIT App Inventor online tool for building Android Apps, which has visual blocks instead of normal text-based code.
  br
  br
  | Students learn how to make highly functional apps, while also learning the widely applicable core concepts of programming....
