extends layout

block content
  h2 #{title}
  h3 #{message}
  //address
  //  strong Support: 
  //  a(href='mailto:Support@example.com') Support@example.com
  //  br
  //  strong Marketing: 
  //  a(href='mailto:Marketing@example.com') Marketing@example.com
  p
  strong Instructor:
  br
  | Dr.	Alireza	Sadeghian 
  br
  | Email: asadeghi@ryerson.ca
  br
  br
  strong Workshop	Coordinator:
  br
  | Arjun	Gupta 
  br
  | Email: gupta@ryerson.ca
  br
  br
  strong Teaching	Assistants:
  br
  | Dante	Camarena 
  br
  | Email:	dcamaren@ryerson.ca
  br
  br
  | Zack	Harris 
  br
  | Email:	zharris@ryerson.ca
  br
  br
  | Megan	Antoniazzi 
  br
  | Email:	megan.antoniazzi@ryerson.ca
  br
  br
  i Note: For questions and help with the course, it is acceptable to email all three TAs in one email.
  br
  br
  strong Location: 
  br
  | Launch	Zone
  br
  | 3rd floor	of	341	Yonge	Street
  br
  br
  strong Start/End:
  br
  | August 4 to August 31, 2015
  br
  br
  strong Times: 	
  br
  | Monday	6-9	pm
  br
  | Tuesday	6-9	pm
