extends layout

block content
  .jumbotron(style='padding-top:10px;')
     .row
      .col-md-8
        h1(style="font-size:50px;") Welcome to the Workshop Website
        p.lead Challenge Accepted is a workshop at Ryerson University that teaches students how to code visually by making Apps with App Inventor.
      if !login
        .col-md-4.vertical-center
          br
          br
          a.center-block.btn.btn-danger(href='/auth/google' ) #[span.fa.fa-google-plus Log in with Google] 
          p to download workshop materials
  .row
    .col-md-4
      h2 App Inventor
      p MIT App Inventor is a blocks-based programming tool that allows everyone, even novices, to start programming and build fully functional apps for Android devices.
      p
        a.btn.btn-default(href='http://appinventor.mit.edu/') App Inventor Website &raquo;
    .col-md-4
      h2 Workshop Syllabus
      p Read more about the content, curriculum and the aims of the workshop.
      p
        a.btn.btn-default(href='/syllabus') Download Workshop Syllabus &raquo;
    .col-md-4
      h2 Contact
      p Contact information, dates, and location.
      p
        a.btn.btn-default(href='/contact') Contact Page &raquo;
