extends layout

block content
  .jumbotron
    //h1(style="text-align:right;") Challenge Accepted
    //h1(style="text-align:right;") Course Website
    h1(style="line-height:30px;") Challenge Accepted
    h1(style="font-size:50px;") Course Website
    p.lead Challenge Accepted is a course at Ryerson University that teaches students how to code visually by making Apps with App Inventor.
    //p
    //  a.btn.btn-primary.btn-large(href='http://expressjs.com/') Learn more &raquo;
  .row
    .col-md-4
      h2 App Inventor
      p MIT App Inventor is a blocks-based programming tool that allows everyone, even novices, to start programming and build fully functional apps for Android devices.
      p
        a.btn.btn-default(href='http://appinventor.mit.edu/') App Inventor Website &raquo;
    .col-md-4
      h2 Course Syllabus
      p Read more about the content, curriculum and the aims of the course.
      p
        a.btn.btn-default(href='/syllabus') Download Course Syllabus &raquo;
    .col-md-4
      h2 Contact
      p Contact information, dates, and location.
      p
        a.btn.btn-default(href='/contact') Contact Page &raquo;
