doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    // - Challenge Accepted Workshop Website
    //link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='/javascripts/modernizr-2.6.2.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Challenge Accepted Workshop Website
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/contact') Contact
            if login
              li
                a(href='/logout') Log Out
              li
                a(href='/profile') Profile
              li
                a(href='/lectures') Lecture Notes
            else
              li
                a(href='/login') Log In
              //li
              //  a(href='/signup') Sign Up
              
            
    .container.body-content
      block content
      hr
      footer
        - var year2 = new Date().getFullYear();
        p &copy; #{year2} - Challenge Accepted Workshop Website - Ryerson University
        br
        .row(style='background-color: rgb(85, 85, 85); padding:20px;')
          .col-md-4
            a(href='http://www.ryerson.ca/')
              img(src='/images/ru_logo.jpg', style='width:100%; margin:10px;')
          .col-md-4
            a(href='http://launchzone.ryerson.ca/')
              img(src='/images/logo_lz_stacked.png', style='width:100%; margin:10px;')
          .col-md-4
            a(href='http://brookfieldinstitute.ca/')
              img(src='/images/brookfield_watermark.png', style='width:100%; margin:10px;')

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')

    block scripts
