doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    // - Challenge Accepted Workshop Website
    //link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel='stylesheet' type='text/css')
    script(src='/javascripts/modernizr-2.6.2.js')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand
            img.logo(src="/images/logo.png" alt="Challenge Accepted" href='/' style="width: 200px;")
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='https://mydmz.ryerson.ca/learntocode/') Promo Site
            li
              a(href='/about') About
            li
              a(href='/contact') Contact
            if login
              li
                a(href='/profile') Profile
              li
                a(href='/lectures') Lecture Notes
              li
                a(href='/logout') Log Out
            else
              li
                a(href='/login') Log In
            li
              a.ai2(href="http://ai2.appinventor.mit.edu/", target='_blank' style='background:#FF8800')
                | App Inventor

              
            
    .container.body-content
      block content
      hr
    footer.text-center(style='background-color: rgb(85, 85, 85); padding:20px;')
      - var year2 = new Date().getFullYear();
      .footer-above
        .container
          h3 &copy; #{year2} - Challenge Accepted - Ryerson University
          br
          .footer-col
            .col-sm-4
              a(href='http://www.ryerson.ca/')
                img.logo-bottom(src='/images/ru_logo.jpg')
            .col-sm-4
              a(href='http://launchzone.ryerson.ca/')
                img.logo-bottom(src='/images/logo_lz_stacked.png')
            .col-sm-4
              a(href='http://brookfieldinstitute.ca/')
                img.logo-bottom(src='/images/brookfield_watermark.png')

    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')

    block scripts
