extends layout

block content
  h2 #{title}
  //h3 #{message}
  if !login
    p Please log in to view the lecture notes.
  else
    p
    | Here you will find the lecture notes for each lesson.
    br
    | They will be posted at the start of each lesson, so you can refer to them on your own computer.
    br
    br
    a(href='/slides_lecture1') Download Slides: Lecture 1
  
