.row
    .col-sm-6
        .well
          h3
            span.fa.fa-user Local
          p
            strong id : #{user._id}
            br     
            strong email : #{user.local.email}
            br      
            strong password : #{user.local.password}