extends layout

block content
  .row
      .col-sm-6
          .well
            
            h3
              span.fa.fa-user Profile
            p
              //strong id : #{user._id}
              br     
              strong Email : #{user.local.email}
              br      
              //strong password : #{user.local.password}
            br
            a.btn.btn-default.btn-sm(href="/logout") Logout