body
  padding-top: 50px
  padding-bottom: 20px
  font-size: 15px

/* Set padding to keep content from hitting the edges */
.body-content
  padding-left: 15px
  padding-right: 15px
  padding-top: 90px

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
  max-width: 280px

/* styles for validation helpers */
.field-validation-error
  color: #b94a48

.field-validation-valid
  display: none

input.input-validation-error
  border: 1px solid #b94a48

input[type="checkbox"].input-validation-error
  border: 0 none

.validation-summary-errors
  color: #b94a48

.validation-summary-valid
  display: none

.navbar
  text-transform: uppercase
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif
  padding: 25px
  font-weight: 500

.navbar-nav
  letter-spacing: 1px

.navbar-default .navbar-nav > li > a
  color: #3a3732
  padding-top: 19.5px
  padding-bottom: 19.5px

.navbar-brand
  padding: 6px 15px
  height: 60px

.navbar-default .navbar-nav > li > a.ai2
  background: #70a80a
  padding: 10px 15px
  border-radius: 3px
  margin-top: 9px
  color: #FFF

.logo-bottom
    width: 200px
    max-width: 100%
    margin: 0 0 50px

footer
  color: #fff;